@use '../variables'

#blog
    position: relative
    background-color: #fff
    width: 100%
    padding: 2rem 2rem
    color: #404040
    *
        font-size: 1.5rem
    .blog-title
        text-align: center
        h1
            padding-top: 2rem
            font-size: 5rem
            font-weight: 700
            color: variables.$lightbrown
            text-decoration: underline
            text-underline-offset: 6px
            font-family: variables.$primary-font
        p
            font-size: 1.5rem
            margin: 1.5rem 0
    .blog-wrapper
        position: relative
        display: flex
        justify-content: center
        .blog-card
            display: flex
            flex-wrap: wrap
            position: relative
            width: 100%
            max-width: 1280px
            justify-content: space-around
            list-style: none
            left: -15px
            li
                position: relative
                height: auto
                width: 100%
                max-width: 300px
                display: flex
                flex-direction: column
                text-align: center
                margin: 1rem .5rem
                border: 5px solid rgba(variables.$darkgreen, .4)
                border-radius: 20px
                padding: .5rem .5rem
                img
                    height: 400px
                    margin: .5rem .5rem
                    border-radius: 20px
                div
                    margin: .9rem 0
                    font-size: 1.3rem
                    font-weight: 600
                button
                    margin-top: 1.5rem
                    background-color: variables.$lightgreen
                    border: 2px solid variables.$lightgreen
                    padding: 10px 15px
                    border-radius: 10px
                    transition: .5s
                    color: #fff
                    margin: 0 20%
                    &:hover
                        color: variables.$lighterbrown
                        background-color: variables.$darkgreen
                        border: 2px solid variables.$lighterbrown