@use '../variables'

#calltoaction
    position: relative
    background-color: variables.$lighterbrown
    width: 100%
    padding: 2rem 2rem
    color: #404040
    *
        font-size: 1.5rem
    .container
        display: flex
        justify-content: space-around
        max-width: 1240px
        align-items: center
        flex-wrap: wrap
        
    .bg-image
        border-radius: 30px
        width: 500px
        height: 500px
        max-width: 500px
        min-height: 50%
        border: 1px solid variables.$lightbrown
        background-position: center
        background-size: cover
        background-image: url('../../../public/womaneatingv.jpg')
    .cta-box
        width: 100%
        background-color: #fff
        min-height: 50%
        padding: 5rem 1rem
        margin: 1rem 0
        border-radius: 30px
        text-align: center
        border: 1px solid variables.$lightbrown
        h5
            font-size: 250%
            margin-bottom: 1.5rem
            font-weight: 600
            color: variables.$darkgreen
        .cta-box-items
            width: 100%
            li
                display: flex
                list-style: none
                position: relative
                left: -20px
                height: auto
                span
                    font-weight: 700
                    border: 2px solid variables.$lightgreen
                    display: flex
                    border-radius: 20px
                    align-items: center
                    text-align: center
                    padding: 1rem .9rem
                    height: 30px
                    min-width: 30px
                    margin-right: 15px 
                    background-color: rgba(255,255,255,.4)
                p
                    text-align: start
        button
            margin-top: 1.5rem
            background-color: variables.$lightgreen
            border: 2px solid variables.$lightgreen
            padding: 10px 15px
            border-radius: 10px
            transition: .5s
            color: #fff
            &:hover
                color: variables.$lighterbrown
                background-color: variables.$darkgreen
                border: 2px solid variables.$lighterbrown

@media screen and (min-width: 992px)
    .bg-image, .cta-box
        max-width: 48% !important
        margin: 0 .5rem !important