@use '../variables'

#navbar
    position: fixed
    background-color: #fff
    width: 100%
    border-bottom: 2px solid variables.$lightbrown
    .container
        max-width: 1280px
        .navbar-brand
            *
                font-size: 2.5rem
                font-family: variables.$primary-font
            strong
                color: variables.$lightbrown
            svg
                margin-left: 5px
                margin-bottom: 5px
                color: variables.$lightgreen
        .navbar-toggler
            font-size: 2.5rem
            svg
                position: relative
                color: variables.$lightbrown
                top: -1px
        #navbar-items
            .navbar-nav
                display: flex
                justify-content: flex-end
                width: 100%
                .nav-item
                    a
                        font-size:1.5rem
                        color: variables.$darkgreen
                    .active
                        font-weight: 600

    