@use '../variables'

#services
    position: relative
    padding-top: 4rem !important
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    text-align: center
    margin-bottom: 4rem
    *
        font-size: 1.6rem
    .container
        background-color: variables.$lighterbrown
        height: 100%
        width: 100%
        padding-bottom: 2rem
        h1
            margin-top: 4rem
            font-size: 5rem
            color: #303030
            position: relative
            left: -10px
        .services-cards
            width: 100%
            display: flex
            flex-wrap: wrap
            justify-content: center

            .service-card
                position: relative
                left: -10px
                max-width: 300px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-between
                list-style: none
                margin: 1.5rem 1rem
                padding: 2rem 1.5rem
                border: 3px solid variables.$lightgreen
                -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75)
                -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75)
                box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75)
                text-align: center
                border-radius: 20px
                color: #202020
                background-color: #fff
                h5
                    font-size: 150%
                    text-decoration-color: variables.$lighterbrown
                .line
                    width: 70%
                    height: 3px
                    margin: .5rem 0
                    background-color: variables.$lightbrown
                button
                    text-transform: uppercase
                    font-weight: 600
                    margin-top: 1.5rem
                    background-color: variables.$lightgreen
                    border: 2px solid variables.$lightgreen
                    padding: 10px 15px
                    border-radius: 10px
                    transition: .5s
                    color: #fff
                    &:hover, &:active
                        background-color: variables.$darkgreen
                        border: 2px solid variables.$lighterbrown